/* Global */
:root {
    /* Color */
    --color-whiget : #ffffff;
    --color-light-white : #eeeeee;
    --color-dark-white : #bdbdbd;
    --color-pink : #f4d1d1;
    --color-dark-pink : #c48484;
    --color-black : #4d4d4d;
    --color-dark-grey : #616161;
    --color-light-grey : #e7e7e7;
    --color-blue : #c8e6ef;
    --color-yellow : #fff9da;
    --color-orange : #ffc47d;
    --color-black : #000000;


    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
}

/* Universal tags */
*{
    box-sizing: border-box
}